[Unit]
Description=SickRage Daemon

[Service]
User=plex
Group=plex

Type=forking
GuessMainPID=no
ExecStart=/usr/bin/python2.7 /opt/sickrage/SickBeard.py -q --daemon --nolaunch --datadir=/home/plex/sickrage

[Install]
WantedBy=multi-user.target
