[Unit]
Description=Minecraft Server Manager
Requires=network.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/msm start
ExecStop=/usr/local/sbin/msm stop
ExecReload=/usr/local/sbin/msm restart

[Install]
WantedBy=multi-user.target
